<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.web.extensions>
       <scripting>
           <webServices>
               <jsonSerialization maxJsonLength="2147483647"/>
           </webServices>
       </scripting>
   </system.web.extensions>
  <connectionStrings>
    <!--<add name="fms8Dict" connectionString="Data Source=FMS-SQL2016.fmshosted.com;Initial Catalog=SAMSUNG_TST;PERSIST SECURITY INFO=True;User ID=SAMSUNG_TST;Password=!D1OiUopsX$L559;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>